<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltyl.investment.mapper.DeptMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ltyl.investment.beans.Dept">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="area" property="area" />
        <result column="xian" property="xian" />
        <result column="detail_adress" property="detailAdress" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, province, city, area, xian, detail_adress
    </sql>

</mapper>
